{extends file="tickets/section.tpl.html"}
{block name=sectionbody}

<h2>Tickets assigned to you</h2>

<ul>
{foreach $mytickets as $ticket}
	 <div class="ticket">
	    <strong><a href="/Tickets/view/{$ticket->id}">{$ticket->name}</a></strong>
	    &ndash; {$ticket->getOwner()->name}
	    &ndash; {$ticket->due()}
	    &ndash; {$ticket->myHumanStatus()}
	</div>
{/foreach}
</ul>

<h2>Tickets assigned to groups you're in</h2>
<p><i>Feel free to pick these up (assign them to you) if you're the best person to do them</i></p>
{foreach $grouptickets as $struct}
    <h3>{$struct.group->groupname}</h3>
    {foreach $struct.tickets as $ticket}
	 <div class="ticket">
	    <strong><a href="/Tickets/view/{$ticket->id}">{$ticket->name}</a></strong>
	    &ndash; {$ticket->getOwner()->name}
	    &ndash; {$ticket->due()}
	    &ndash; {$ticket->myHumanStatus()}
	</div>
    {/foreach}
{/foreach}

<h2>Tickets waiting for your input</h2>

{foreach $myinput as $ticket}
    <div class="ticket">
	<strong><a href="/Tickets/view/{$ticket->id}">{$ticket->name}</a></strong>
	&ndash; {$ticket->getOwner()->name}
	&ndash; {$ticket->due()}
	    &ndash; {$ticket->myHumanStatus()}
    </div>

{/foreach}

{/block}