{extends file="boilerplate.tpl.html"}
{block name=body}
<form method="POST" action="/Tickets/create">

<h2><input type="text" placeholder="Ticket Name" name="name" value="{$name}" style="font-size: 24pt;"/></h2>

Created {time()|date_format} <br/>
Modified  {time()|date_format} <br/>
Date Due <input type="text" placeholder="YYYY-MM-DD" name="date_due" value="{$date_due}"/><br/>

<p>0% Completed</p>

Owner <select name="owner">
    {html_options values=$ownerids output=$ownervalues selected=$ownerid}
    </select><br/>

Reporter {$reporter}

<p><textarea placeholder="Ticket Description" name="description" cols="72" rows="7">{$description}</textarea><br/>

    <input type="submit"/>
</form>

{if isset($errors)}
    <ul class="errors">
    {foreach $errors as $error}
    <li>{$error}</li>
    {/foreach}
    </ul>
{/if}

{/block}