{extends file="boilerplate.tpl.html"}
{block name=body}

<h1>Change your Password</h1>


{if isset($errors)}
    <ul class="errors">
    {foreach $errors as $error}
    <li>{$error}</li>
    {/foreach}
    </ul>
{/if}

<form method="POST" action="changePassword">
<p>Please enter your current password:</p>

<p><input type="password" placeholder="Current Password" name="oldpassword"/></p>

<p>Please enter your new password a couple of times:</p>

<p>
    <input type="password" name="newpassword" placeholder="New Password"/>
    <input type="password" name="newpassword_repeat" placeholder="New Password Again"/>
</p>

<input type="submit" value="Submit changes"/>

</form>

{/block}
