{extends file="boilerplate.tpl.html"}
{block name=body}

<form action="{$nextpage}" method="POST">
    <input type="text"     name="username"  placeholder="Username" value="{$username}"/><br/>
    <input type="password" name="password"  placeholder="Password"/><br/>
    <input type="hidden"   name="formid"    value="{$formid}"/>
    <input type="submit"/>

   </form>

[ <a href="/User/register">I probably need an account for this, don't I?</a> |  <a href="/User/forgotpassword">Ah... er... what's my password again?</a> ]

{if isset($errors)}
    <ul class="errors">
    {foreach $errors as $error}
    <li>{$error}</li>
    {/foreach}
    </ul>
{/if}

{/block}